// bower:scss
// endbower
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    .heading {
        font-size: 20px;
    }
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}


/* Custom page footer */

.footer {
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow>hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
    p+h4 {
        margin-top: 28px;
    }
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/*-------------------------------------------------------------------- */

.footer .material-icons {
    font-size: 18px;
    vertical-align: bottom;
}

.header-content,
.text-center {
    text-align: center;
}

.footer {
    position: fixed;
    top: calc(100% - 50px);
    width: 100%;
    text-align: right;
}

.app-container,
.full-calc-height {
    height: calc(100% - 50px);
}

.attendance-table,
.table {
    border: thin grey outset;
    width: 100%;
    overflow: scroll;
    max-height: 500px;
}

.text-align-left {
    text-align: left;
}

.attendance-table td,
.attendance-table th {
    min-width: 80px;
}

.select-tag-padding {
    padding-bottom: 22px;
}

.sidemenu-toggle {
    position: absolute;
    margin: 0px;
    min-width: 10px;
    padding: 0px;
}

.full-height {
    height: 100%;
}

.header {
    margin-bottom: 0px;
}

.login-box {
    margin-left: auto;
    margin-right: auto;
}

.display-inline {
    display: inline;
}

.loading-container {
    pointer-events: none;
    cursor: pointer;
    opacity: 0.7;
}