<md-content class="login-box" flex-gt-sm="50" flex-sm="100" layout-padding="">
    <h3 class="text-center">Login Here</h3>
    <form class="flex" name="loginForm">
        <md-input-container class="md-block">
            <label>User Name</label>
            <input name="username" ng-model="loginCtrl.userDetails.userName" required="" />
            <div ng-messages="loginForm.username.$error">
                <div ng-message="required">You must enter the username.!</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Password</label>
            <input name="password" ng-model="loginCtrl.userDetails.password" required="" type="password" />
            <div ng-messages="loginForm.password.$error">
                <div ng-message="required">You must enter the password.!</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block text-center">
            <md-button class="md-primary md-raised" ng-click="loginCtrl.login()">Login</md-button>
        </md-input-container>
    </form>
</md-content>