<md-content class="login-box" ng-class="{'loading-container': addCtrl.loading}" flex-gt-sm="50" flex-sm="100" layout-padding="">
    <h3 class="text-center">Add your attendance here</h3>
    <form class="flex" name="attendanceForm">
        <md-input-container class="md-block select-tag-padding" ng-if="addCtrl.isAdmin">
            <label>User</label>
            <md-select ng-model="addCtrl.attndcDetails.userId" required>
                <md-option ng-repeat="user in addCtrl.users" ng-value="user.id">
                    {{user.name}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Date</label>
            <input type="date" name="date" ng-model="addCtrl.attndcDetails.date" type="date" required="" />
            <div ng-messages="attendanceForm.username.$error">
                <div ng-message="required">You must specify the date.!</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Start Time</label>
            <input type="time" name="date" ng-model="addCtrl.attndcDetails.startTime" type="time" required="" />
            <div ng-messages="attendanceForm.username.$error">
                <div ng-message="required">You must specify the start time.!</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>End Time</label>
            <input type="time" name="date" ng-model="addCtrl.attndcDetails.endTime" type="time" required="" />
            <div ng-messages="attendanceForm.username.$error">
                <div ng-message="required">You must specify the end time.!</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block text-center">
            <md-button class="md-primary md-raised" ng-disabled="attendanceForm.$invalid" ng-click="addCtrl.addAttndc()">
                Add Attendance
            </md-button>

            <md-progress-circular md-mode="indeterminate" ng-show="addCtrl.loading" class="display-inline" md-diameter="20"></md-progress-circular>
        </md-input-container>
    </form>
</md-content>